.container {
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: white;
    transition: all 0.2s;
    cursor: pointer;
}

.container:hover {
    opacity: 0.75;
}

.input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.label {
    font-size: 12px;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.selected {
    background: black;
    color: white;
}
