.filters {
    width: 280px;
    /* background-color: ghostwhite; */
    padding: 20px 20px 20px 30px;
    border-top: 1px solid #f3f3f3;
}

.filtersContainer {
    width: 280px;
}

.filtersContainer::-webkit-scrollbar {
    display: none;
}

.closeButton {
    display: none;
    position: fixed;
    opacity: 0;
}

.overlay {
    display: none;
}

@media screen and (max-width: 900px) {
    .filters {
        width: 100%;
    }
    .filtersContainer {
        left: -280px;
        min-width: 280px;
        max-height: 100vh;
        position: fixed;
        max-height: 100vh;
        background: white;
        z-index: 2;
        border: 1px solid #f4f4f4;
        overflow-y: scroll;
        transition: all 0.2s;
    }
    .overlay {
        opacity: 0;
        display: block;
        transition: all 0.2s;
        content: '';
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        z-index: 1;
        pointer-events: none;
    }

    .closeButton {
        display: block;
        opacity: 1;
        top: 0;
        right: -40px;
        width: 40px;
        height: 40px;
        background-color: white;
        background-image: url('/img/icons/close.svg');
        background-size: 18px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        z-index: 3;
        transition: opacity 0.3s;
        cursor: pointer;
    }
    .closeButton:hover {
        opacity: 0.75;
    }
}
