.products {
    width: calc(100% - 280px);
    min-height: 80vh;
    padding: 0 30px 0 10px;
    border-top: 1px solid #f3f3f3;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 60px 20px;
    margin: 30px 0 60px;
    transition: all 0.3s;
}

.header {
    padding-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    grid-column: 1/5;
}

.heading {
    font-weight: 600;
    margin: 0;
}

.sort {
    display: flex;
}

.headingContainer {
    display: flex;
    gap: 15px;
    align-items: center;
}

.filterButton {
    border: 1px solid black;
    font-size: 13px;
    background: none;
    display: none;
    padding: 3px 30px 2px 10px;
    position: relative;
    transition: opacity 0.3s;
    cursor: pointer;
}

.filterButton:hover {
    opacity: 0.75;
}

.filterButton::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 6px;
    width: 14px;
    height: 14px;

    background: url('/img/icons/filter.svg');
}

@media screen and (max-width: 900px) {
    .products {
        width: 100%;
        padding: 30px;
    }
    .header {
        padding-top: 0px;
        gap: 20px 5px;
    }
    .filterButton {
        display: block;
    }
}

@media screen and (max-width: 540px) {
    .header {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}
