.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.slider {
    width: 94%;
    position: relative;
    left: 1px;
}

.label {
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 5px;
}
